body{
    position: relative;
 box-sizing: border-box ;
 margin: 0 ;
 padding: 0 ;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;


};


h4{
    font-size: 20px;
    text-align: center;
};

.img-style{
padding: 20px 0 ;
height: auto;
width: auto;
text-align: center;
}

